/* screen edge margin is 16px */

.article_overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(81, 81, 81, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  display: none;
}

.swipeup_container {
  height: 100%;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.45s cubic-bezier(.4,.05,0,1);
}

.swipeup_container.swiped_up {
  transform: translate3d(0, -100vh, 0);
}

.card_view {
  height: 100%;
  width: 100%;
  padding: 0 16px 0 16px;
}

.overlay-cards_container {
  height: 90%;
  width: 100%;
  position: relative;
  align-content: center;
}

.fadein {
  opacity: 1.0;
  transition: opacity 0.5s;
}

.overlay-buttons {
  height: 10%;
  justify-content: center;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  
}

.button {
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

/* .like_button {
  
} */

/* .like_button img {
  width: 24px;
} */

/* .button:nth-child(1) {
  opacity: 0;
} */

.read_more-button {
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #C2C2C2;
}

.read_more-button img {
  width: 16px;
  margin: 0 0 8px 0;
  position: relative;  
}

.close_overlay {
  position: absolute;
  height: calc(1.5 / 30 * 100%);
  top: calc(1.5 / 30 * 100%);
  right: 9vw;
  border-radius: 13.5px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
}