/* touch area of cards is 8px horizontally wider than it appears */

/* .card-frame {
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(127, 255, 212, 0.151);
} */

.card {
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  padding: 0 16px 0 16px;
  touch-action: pan-y; /* in order to work on chrome inspector */
  align-content: center;
}

.card-category {
  position: relative;
  height: calc(1.5 / 30 * 100%);
  top: calc(1.5 / 30 * 100%);
  background: #C13D32;
  border-radius: 13.5px;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  padding: 0 16px 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  position: relative;
  top: calc((0.5 + 1.5) / 30 * 100%);
  border-radius: 10px;
  height: calc(26.5 / 30 * 100%);
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
  margin: auto;
}

.card-counter {
  position: absolute;
  right: 3vw;
  top: 3vw;
  border-radius: 10px;
  background: #C13D32;
  color:#FFFFFF; 
  padding: 0 16px 0 16px;
}

.card-image-container {
  width: 100%;
  height: calc(100vw - (16px + 16px) * 2); /* 16px is article-overlay padding, 16px is card padding */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-image-container .main-img {
  max-width: 100%;
  max-height: calc(100vw - (16px + 16px) * 2); /* 16px is article-overlay padding, 16px is card padding */
  position: relative;
  z-index: 1;
  /* will not use white shadow cos there might be dark images*/
  /* box-shadow: 0 0 20px 30px rgba(255, 255, 255, 0.5); */
}

.card-image-container .blur-img {
  width: 100%;
  height: calc(100vw - (16px + 8px) * 2);
  filter: blur(8px);
  position: absolute;
}

.card-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* or 120% */

  display: flex;
  align-items: center;
  margin: auto;
  padding: 5px;

  color: #000000;
}

.card-summary {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 15px;
  /* or 125% */

  display: flex;
  align-items: center;
  padding: 5px;

  color: rgba(81, 81, 81, 0.9);
}


/* .card:nth-of-type(3) {
  background-color: red;
}
.card:nth-of-type(2) {
  background-color: green;
}
.card:nth-of-type(1) {
  background-color: blue;
} */