.article_view {
  background: #fffffff1;
  width: 100%;
  height: 100%;
}

.article_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* or 120% */

  display: flex;
  align-items: center;
  margin: auto;
  padding: 5px;

  color: #000000;
}

.article_content {
  font-size: 12px;
  line-height: 19px;
  /* or 125% */

  display: flex;
  align-items: center;
  padding: 5px;

  color: rgba(81, 81, 81, 0.9);
}

.read_less-button img {
  width: 16px;
  margin: 0 0 8px 0;
  position: relative;  
}

.read_less-button {
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #808080;
}

.overlay-buttons {
  height: 10%;
  justify-content: center;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}