.web_article {
  width: 100%;
}

.img_today_screenshot {
  width: 100%;
}

.explore_btn {
  height: calc(40 / 100 * 20vw);
  width: 25%;
  background: #b93b2d;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  right: 20%;
  top: calc(20 / 100 * 20vw);
}

.scroll-lock {
  /* margin: 0; */
  /* height: 100%; */
  overflow: hidden
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
